node_modules
.env
.vscode/*
!.vscode/extensions.json

.idea
.DS_Store
.node_modules
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

client/cnl/node_modules
client/cnl/google-cloud-sdk
client/cnl/lunar-arc-378014-d3455e8e0581.json
server/lunar-arc-378014-d3455e8e0581.json
client/cnl/dist

**/.DS_Store
randomFace
apiKeys